<div class="container" style="text-align:center; padding-top: calc(50vh - 243.5px); padding-bottom: calc(50vh - 243.5px)">
    <div class="login-box page-one">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <img src="https://statewideguttercompany.com/wp-content/uploads/2012/07/logo-placeholder.jpg" width="100px" height="100px">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1>hApp</h1>
            </div>
        </div>
        <div class="row login-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" class="btn btn-primary btn-lg active" id="signup">SIGN UP</button>
            </div>
        </div>
        <div class="row login-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="button" class="btn btn-secondary btn-lg active" id="login">LOG IN</button>
            </div>
        </div>
        <div class="row login-row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:5%; margin-bottom: 5%">
                OR
            </div>
        </div>
        <div class="row login-row">
            <div style="margin:auto;">
                <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">-->
                <a href="home">
                    <button type="button" class="btn btn-lg active btn-facebook">Facebook</button>
                </a>
                <!--<a href="home"><button type="button" class="">Facebook</button></a>-->
                &nbsp;&nbsp;&nbsp;
                <!--</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">-->
                <a href="home">
                    <button type="button" class="btn btn-lg active btn-google">Google+</button>
                </a>
                <!--<button type="button" class="">Google+</button>-->
            </div>

        </div>
    </div>
</div>

<script src="/static/js/login.js"></script>